@import '../../assets/css/fn.styl'
@media only screen and (min-width: 10px) {
  .menu {
    width multip(0.1, 1024px)
    font-size multip(0.0135, 1024px)
  }
  .arrow img{
    width multip(0.00729, 1024px)
  }
}
@media only screen and (min-width: 1280px) {
  .menu {
    width multip(0.1, 1280px)
    font-size multip(0.0135, 1280px)
  }
  .arrow img{
    width multip(0.00729, 1280px)
  }
}
@media only screen and (min-width: 1366px) {
  .menu {
    width multip(0.1, 1366px)
    font-size multip(0.0135, 1366px)
  }
  .arrow img{
    width multip(0.00729, 1366px)
  }
}
@media only screen and (min-width: 1440px) {
  .menu {
    width multip(0.1, 1440px)
    font-size multip(0.0135, 1440px)
  }
  .arrow img{
    width multip(0.00729, 1440px)
  }
}
@media only screen and (min-width: 1680px) {
  .menu {
    width multip(0.1, 1680px)
    font-size multip(0.0135, 1680px)
  }
  .arrow img{
    width multip(0.00729, 1680px)
  }
}
@media only screen and (min-width: 1920px) {
  .menu {
    width 192px
    font-size 26px
  }
  .arrow img{
    width 14px
  }

}