multip(a, b)
  a * b

height-set(x, name)
  @media only screen and (min-height: 10px)
    {name} compute-height(x, 768)
  @media only screen and (min-height: 800px)
    {name} compute-height(x, 800)
  @media only screen and (min-height: 854px)
    {name} compute-height(x, 854)
  @media only screen and (min-height: 900px)
    {name} compute-height(x, 900)
  @media only screen and (min-height: 1024px)
    {name} compute-height(x, 1024)
  @media only screen and (min-height: 1050px)
    {name} compute-height(x, 1050)
  @media only screen and (min-height: 1080px)
    {name} x
  @media only screen and (min-height: 1200px)
    {name} compute-height(x, 1200)
compute-height(x, y)
  ceil(x / 1080 * y)

font-size-set(x)
  @media only screen and (min-width: 10px)
    font-size compute-size(x, 1024)
  @media only screen and (min-width: 1280px)
    font-size compute-size(x, 1280)
  @media only screen and (min-width: 1366px)
    font-size compute-size(x, 1366)
  @media only screen and (min-width: 1440px)
    font-size compute-size(x, 1440)
  @media only screen and (min-width: 1680px)
    font-size compute-size(x, 1680)
  @media only screen and (min-width: 1920px)
    font-size x
compute-size(x, y)
  ceil(x / 1920 * y)

width-set(x, name)
  @media only screen and (min-width: 10px)
    {name} compute-size(x, 1024)
  @media only screen and (min-width: 1280px)
    {name} compute-size(x, 1280)
  @media only screen and (min-width: 1366px)
    {name} compute-size(x, 1366)
  @media only screen and (min-width: 1440px)
    {name} compute-size(x, 1440)
  @media only screen and (min-width: 1680px)
    {name} compute-size(x, 1680)
  @media only screen and (min-width: 1920px)
    {name} x
