@import '../../assets/css/fn.styl'
@media only screen and (min-width: 10px) {
  .header .left .logo img {
    width 92px
  }
  .header .left .title {
    font-size 15px
  }
  .info span {
    font-size 12px
  }
  .info .avatar {
    width 23px
    height 23px
  }
  .pop-wrapper {
    top 41px
  }
  .pop {
    width 82px
  }
  .sanjiao {
    left 40px
  }
  .item {
    font-size multip(0.01, 1024px)
    line-height multip(0.044, 768px)
  }
}
@media only screen and (min-width: 1280px) {
  .header .left .logo img {
    width 115px
  }
  .header .left .title {
    font-size 18px
  }
  .info span {
    font-size 15px
  }
  .info .avatar {
    width 28px
    height 28px
  }
  .pop {
    width 102px
  }
  .sanjiao {
    left 50px
  }
  .item {
    font-size multip(0.01, 1280px)
  }
}
@media only screen and (min-height: 500px) and (min-width: 1280px) {
  .pop-wrapper {
    top multip(0.0527, 800px)
  }
  .item {
    line-height multip(0.044, 800px)
  }
}
@media only screen and (min-height: 1024px) and (min-width: 1280px) {
  .pop-wrapper {
    top multip(0.0527, 1024px)
  }
  .item {
    line-height multip(0.044, 1024px)
  }
}
@media only screen and (min-width: 1366px) {
  .header .left .logo img {
    width multip(0.09, 1366px)
  }
  .header .left .title {
    font-size multip(0.014, 1366px)
  }
  .info span {
    font-size multip(0.0114, 1366px)
  }
  .info .avatar {
    width multip(0.0218, 1366px)
    height multip(0.0218, 1366px)
  }
  .pop-wrapper {
    top multip(0.0527, 768px)
  }
  .pop {
    width multip(0.0796, 1366px)
  }
  .sanjiao {
    left mutip(0.039, 1366px)
  }
  .item {
    font-size multip(0.01, 1366px)
    line-height multip(0.044, 768px)
  }
}
@media only screen and (min-width: 1440px) {
  .header .left .logo img {
    width multip(0.09, 1440px)
  }
  .header .left .title {
    font-size multip(0.014, 1440px)
  }
  .info span {
    font-size multip(0.0114, 1440px)
  }
  .info .avatar {
    width multip(0.0218, 1440px)
    height multip(0.0218, 1440px)
  }
  .pop-wrapper {
    top multip(0.0527, 1050px)
  }
  .pop {
    width multip(0.0796, 1440px)
  }
  .sanjiao {
    left mutip(0.039, 1440px)
  }
  .item {
    font-size multip(0.01, 1440px)
    line-height multip(0.044, 1050px)
  }
}
@media only screen and (min-width: 1680px) {
  .header .left .logo img {
    width 151px
  }
  .header .left .title {
    font-size 24px
  }
  .info span {
    font-size 20px
  }
  .info .avatar {
    width 37px
    height 37px
  }
  .pop-wrapper {
    top 56px
  }
  .pop {
    width 134px
  }
  .sanjiao {
    left 66px
  }
  .item {
    font-size multip(0.01, 1680px)
    line-height multip(0.044, 1050px)
  }
}
@media only screen and (min-width: 1920px) {
  .header .left .logo img {
    width 174px
  }
  .header .left .title {
    font-size 27px
  }
  .info span {
    font-size 22px
  }
  .info .avatar {
    width 42px
    height 42px
  }
  .pop-wrapper {
    top 57px
  }
  .pop {
    width 153px
  }
  .sanjiao {
    left 75px
  }
  .item {
    line-height 48px
    font-size 20px
  }
}
